@charset "utf-8";

/* 내용관리 */
#ctt {margin:0;padding:50px 100px;background-color:#f3f3f0;}
.ctt_admin {text-align:right}
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con {width:800px;min-height:280px;margin:0 auto;padding:0;}
.ctt_img {text-align:center}
#ctt h2 {float:left;font-size:32px;color:#696062;}
.aboutus {float:right;width:530px;margin:0;padding:10px 0 35px 30px;font-size:14px;line-height:1.6;border-left:10px solid #e4e4dd;}
.aboutus p {margin-bottom:26px;word-break:break-word;color:#50484A;}